.droplog {
  position: relative;
  display: inline-block;
}

.droplog__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  min-width: 10px;
}

.dropbutton-hidden {
  pointer-events: none;
}

.dropmenu {
  position: absolute;
  min-width: 150px;
  min-height: 50px;
  background-color: white;
  padding: 10px 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.356);
  display: none;
}

.dropmenu.show {
  display: block;
}

.dropmenu__option {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.301);
  cursor: pointer;
}

.dropmenu__option:nth-child(1) {
  border-top: none;
}

.dropmenu__option:hover {
  background-color: aqua;
}

.dropmenu__text {
  font-size: 1rem;
  display: block;
}

.dropmenu__url {
  text-decoration: none;
  color: unset;
  outline: none;
}


/********* TRANSFORM DROPMENU*************/

.dropmenu--bradius {
  border-radius: 5px;
}

.dropmenu--t {
  top: 0;
}

.dropmenu--t100 {
  top: 100%;
}

.dropmenu--b {
  bottom: 0;
}

.dropmenu--b100 {
  top: 100%;
}

.dropmenu--r {
  right: 0;
}

.dropmenu--r100 {
  right: 100%;
}

.dropmenu--l {
  left: 0;
}

.dropmenu--l100 {
  left: 100%;
}