extends  ../layout/layout

block  header 
  include ../templates/header

block  footer 
  include ../templates/footer 

block main 
  .container-lg#div-home.bg-danger 
    h1.text-center.mt-3 Welcome Angelo 
    .row 
      .col-10.mx-auto.d-flex.justify-content.end 
        button(class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalNewFolder") + NEW
      .col-10#div-carpetas 
        div.carpeta
        div.carpeta
        div.carpeta
        div.carpeta
        div.carpeta
        div.carpeta
        div.carpeta

  
    <div class="modal fade" id="modalNewFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    