mixin errors(errors , field)
  if( errors && errors[field])
    span.input-error-text=errors[field].message
  

mixin buttonNew(folderId)
  div.buttonDiv.buttonDiv--left
    button(type="button" id="asda" class="button buttonDiv_new " data-bs-toggle="dropdown" aria-expanded="false") 
      <i class="fas fa-plus me-2"></i>  New  

    div(id="modalNew-div" class="dropdown-menu modalNew-div" aria-labelledby="asda" )
        .modalNew-folder 
          h1(class="modalNew-folder-title"  data-bs-toggle="modal" data-bs-target="#modalNewFolder") 
            <i class="fas fa-folder me-2"></i> Folder 

        .modalNew-file
          a(href=`/note/create/${folderId}` class="d-block modalNew-note" target="_blank") 
            <i class="far fa-file-alt me-2"></i> Note 

mixin modalNewFolder(folderId)
  <div class="modal fade" id="modalNewFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-dark">
        <div class="modal-body p-4">
          div.d-flex.justify-content-between
            <h5 class="modal-title text-white" id="exampleModalLabel">New Folder</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          form(action=`/folder/create/${folderId}` method="POST" autocomplete="off").mt-4 
            div.mb-4  
              //- label(for="name" class="form-label text-white") Folder name:
              input(type="text" id="name" name="name" placeholder="Enter folder name" class="input-text input-text-medium "  required autofocus="autofocus" onfocus="this.select()")
            .mb-1.d-flex.justify-content-between 
              <button type="button" class="button button-transparent" data-bs-dismiss="modal" aria-label="Close">Cancel </button>
              <button type="submit" class="button button-primary">Create </button>
        </div>
          
      </div>
    </div>
  </div>
