extends ./index

block content 
  include ./mixins
  .container-lg#div-container
    div.row.mx-0
      form(method="POST" id="form-createNote" autocomplete="off").col-12.col-lg-10.mx-auto
        div.row
          div.mb-4.col-12.col-lg-6
            label(for="title" class="form-label") Title
            input(type="text"  name="title" id="title" placeholder="Enter title" value=`${note.title}` required class=errors && errors.title ? 'input-error' : '').input-text.input-text-medium
            +errors(errors , "title")
            

          div.mb-5.col-12
            label(for="body" class="form-label") Description 
            //- input(type="text" name="body" id="body" value=`${note.body}` required).input-text.input-text-medium
            textarea#tiny-body(type="text" name="body"  ).input-text.input-text-medium 
              =  note.body
            +errors(errors , "body")
        
          div.mb-3.col-12
            .d-flex.justify-content-between   
              a(class="button button-transparent" href=`/note/detail/${note._id}`) Cancel
              button(class="button button-primary" type="submit") Save