header
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-xxl ">
      <a class="navbar-brand name-app" href="/">E-
        span.name-app2 NOTE
      </a>
      <div class="collapse navbar-collapse justify-content-end " >
        
          //- img(class="headerUser_avatar appMenu" data-menu="userModal")
          //- div.headerUser_modal.dropdown-appMenu#userModal 
          //-   .headerUser_image.dropdown-appItem
          //-     image(class="headerUser_avatar dropdown-appItem" src="")
          //-   h1.headerUser_fullName.dropdown-appItem.text-color Angelo Zamora
          //-   h2.headerUser_email.dropdown-appItem.dropdown-appItem.text-color  azamora@gmail.com
          //-   div.buttonDiv.buttonDiv--center
          //-     a(href="" class="button button-secondary button--center") Gestionar Perfil

          .droplog.headerUser
            img(class="headerUser_avatar dropbutton-action" data-dropmenu=`dropmenuheader`)
            //- button.droplog__button.dropbutton-action(type='button' data-dropmenu=`dropmenuheader`)
            //-   i.fas.fa-ellipsis-v.table-td-icon.dropbutton-hidden
            div(id=`dropmenuheader`).dropmenu.dropmenu--t100.dropmenu--r.dropmenu--bradius.mt-2.headerUser__modal
              .dropmenu__option.dropmenu-item
                span.dropmenu__text.dropmenu-item  
                  <i class="far fa-folder-open icon--standar me-1"></i> Move to
              
              .headerUser_image.dropmenu-item
                image(class="headerUser_avatar dropmenu-item" src="")
              h1.headerUser_fullName.dropmenu-item.text-color Angelo Zamora
              h2.headerUser_email.dropmenu-item.text-color  azamora@gmail.com
              div.buttonDiv.buttonDiv--center.dropmenu-item 
                a(href="" class="button button-secondary button--center dropmenu-item ") Gestionar Perfil
      </div>
    </div>
  </nav>